.home-container {
    position: relative;

  }  
  .home-table-container {
    position: relative;
    min-height: 700px;
    max-height: 700px;
    overflow: auto;
  }  
  table {
    width: 97%;
  }  
  .delete-icon{
    cursor: pointer;
  }
  th{
    font-weight: bold;
    font-size: inherit;
    background-color: darkgray;
  }