.example-container {
    width: auto;
    height: 98%;
    margin: 5px;
    /* border: 1px solid #555; */
  }
  #sidenav{
      width:300px;
  }
   mat-list-item:hover{
      background:rgb(190, 190, 223);
      color:white;
      font-weight: bold;
      cursor:pointer;
      border-radius: 50px;
  }

  mat-list-item{
      margin-bottom:10px;
  }